---
import Section from "../components/Section.astro"
import AboutAward from "../assets/images/aboutAward.svg"
import aboutImage2 from "../assets/images/aboutImage2.svg?url"
import aboutImage1 from "../assets/images/aboutImage1.svg?url"
import aboutImage1Tablet from "../assets/images/aboutImage1-tablet.svg?url"
import aboutImage2Tablet from "../assets/images/aboutImage2-tablet.svg?url"
import { aboutUsText } from "../data/aboutUs"

interface Props {
  id?: string;
}
const { id } = Astro.props;
---

<Section id={id} sectionTitle="ABOUT US" class=" my-12 md:my-24 xl:flex xl:gap-8 xl:items-center" sectionSubtitle="We help to bring your dream home to reality" classMB="mb-6">
  <header slot="paragraph">
    <p class=" leading-6 font-light md:text-lg md:leading-8">{aboutUsText.intro}</p>
    <p class="mt-6 mb-20 leading-6 font-light md:text-lg md:leading-8">{aboutUsText.details}</p>
  </header>
  <div class="flex relative gap-2 justify-center md:gap-3 lg:flex-1">
    <picture>
      <source srcset={aboutImage1Tablet} media="(min-width: 768px)"/>
      <img src={aboutImage1} alt="Modern kitchen design" loading="lazy">
    </picture>
    <AboutAward class="absolute right-20 bottom-62 md:bottom-144 md:right-67 xl:bottom-135 xl:right-60" aria-hidden="true"/>
    <picture>
      <source srcset={aboutImage2Tablet} media="(min-width: 768px)">
      <img src={aboutImage2} alt="Modern bedroom design" class=" mt-10 md:mt-20" loading="lazy"/>
    </picture>
  </div>
</Section>