---
import { footerContacts } from "../data/footer"
import type { Contacts } from "../data/footer"
import { footerIcons } from "../data/footer"
import type { Icons } from "../data/footer"
---

<footer class="flex justify-center xl:mb-20">
  <div class="w-[350px] md:w-2xl xl:w-7xl">
    <div class="bg-neutral-grey-300 w-full h-0.5 mb-10 md:mb-20"></div>
    <div class="flex flex-col gap-12 xl:flex-row xl:justify-between xl:items-star">
      <div class="flex flex-col gap-2 md:gap-4 xl:w-120">
        <h4 class="font-secondary text-3xl font-normal leading-10 md:text-5xl md:leading-15">Kick-start your dream home with us</h4>
        <a class="font-secondary italic text-3xl text-primary-brown-600 underline md:text-5xl md:leading-15" href="#">Send us a hi</a>
      </div>
      <div class="flex flex-col gap-8 xl:w-120 xl:pl-60">
        <address class="flex flex-col gap-2 not-italic">
          <h5 class="font-secondary font-normal text-2xl">Brooklyn, New York</h5>
          <span class="font-light leading-6 text-sm">962 Fifth Avenue Str, 3rd Floor-Trump Building NY 10006, United State.</span>
        </address>
        {
          footerContacts.map((con: Contacts) => (
            <div class="flex flex-col gap-2">
              <span class="font-light text-sm">{con.contact}</span>
              <span class="font-secondary font-normal text-2xl text-primary-brown-600">{con.address}</span>
            </div>
          ))
        }
      </div>
    </div>
    <div class="bg-neutral-grey-300 w-full h-0.5 my-10 md:my-20"></div>
    <div class="flex flex-col gap-8 xl:flex-row xl:justify-between xl:items-center">
      <div>
        <small class="leading-6 font-light text-base">© 2022 Inteo - Award winning studio. Made with love by <span class="text-primary-brown-600">Landify</span></small>
      </div>
      <div class="flex flex-col gap-4 md:flex-row md:gap-6">
        <div class="flex items-center gap-4">
          <h4 class=" font-semibold text-neutral-black-700">CONNECT</h4>
          <div class="w-20 h-0.5 bg-neutral-black-700"></div>
        </div>
        <nav class="flex gap-6">
          {
            footerIcons.map((icon: Icons) => (
              <a href={icon.href} class="border-2 rounded-full border-primary-brown-50 p-2">
                <img class="w-5 h-5" src={icon.img} alt={icon.label}/>
              </a>
            ))
          }
        </nav>
      </div>
    </div>
  </div>
</footer>