---
import { string } from "astro:schema"
import Logo from "../assets/icons/logo.svg"
import Menu from "../assets/icons/menu.svg"
import Close from "../assets/icons/exit.svg"
import heroImage from "../assets/images/heroImage.svg?url"
import heroImageDesktop from "../assets/images/heroImage-desktop.svg?url"
import heroImageTablet from "../assets/images/heroImage-tablet.svg?url"

interface NavLinks {
  name: string;
  href: string;
};

const navlinks: NavLinks[] = [
  {name: "About", href: "#aboutUs"},
  {name: "Services", href: "#ourServices"},
  {name: "Our Work", href:"#recentWorks"}
];
---

<header>
  <div class="flex flex-col items-center gap-20">
    <div class=" w-11/12 max-w-7xl flex justify-between items-center py-7">
      <Logo class="h-full w-24"/>
      <button class=" md:hidden" id="open-menu" aria-controls="menu-modal" aria-expanded="false">
        <Menu class=" cursor-pointer text-neutral-black-900 hover:scale-125 transition-transform duration-200 "/>
      </button>
      <nav id="menu-modal" class=" fixed bg-neutral-black-700 inset-0 hidden h-screen md:flex md:flex-row md:bg-inherit md:static md:h-full ">
        <Close id="close-menu" class=" ms-auto cursor-pointer mt-5 mr-5 hover:scale-125 transition-transform duration-200 md:hidden"/>
        <ul class="flex flex-col gap-8 items-center mt-44 md:flex-row md:m-0">
          {
            navlinks.map((link: NavLinks) => (
              <li class="hover:scale-125 transition-transform duration-200 ">
                <a class="text-2xl text-white md:text-neutral-black-900 font-medium md:text-sm" href={link.href}>{link.name}</a>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
    <div class="w-[359px] md:w-3xl flex flex-col gap-6 xl:w-7xl">
      <h1 class=" font-secondary font-medium text-5xl text-center leading-15 md:text-7xl md:leading-24">Make your home an ode to joy</h1>
      <p class="text-lg text-center text-neutral-black-700 font-light leading-8 md:text-xl">
        We turn your empty house to a lovely home, making the compact spaces  with sapce saving furnitures. Making the unique tastes of yours into reality! 
      </p>
    </div>
  </div>
  <div class="mt-4 grid content-center">
    <picture>
      <source srcset={heroImageDesktop} media="(min-width: 1024px)">
      <source srcset={heroImageTablet} media="(min-width: 768px)">
      <img class="w-full" src={heroImage} alt="Hero Image">
    </picture>
  </div>
  
</header>

<script>
  const btnClose = document.getElementById("close-menu");
  const menuModal = document.getElementById("menu-modal");
  const btnOpen = document.getElementById("open-menu");
  const links = document.querySelectorAll("a");

  btnClose?.addEventListener('click', ()=> {
    menuModal?.classList.add("hidden")
    document.body.classList.remove("overflow-hidden")
  })

  btnOpen?.addEventListener('click', ()=> {
    menuModal?.classList.remove("hidden")
    document.body.classList.add("overflow-hidden")
  })

  links.forEach(link => {
    link.addEventListener('click', ()=> {
      menuModal?.classList.add("hidden")
      document.body.classList.remove("overflow-hidden")
    })
  })
</script>