---
interface Props {
  id?: string;
  sectionTitle: string;
  sectionSubtitle: string;
  class?: string;
  classMB?: string
}

const { id, sectionTitle, class: extraClass = "", classMB = "", sectionSubtitle } = Astro.props;
---

<div id={id} class={`flex items-center justify-center flex-col ${classMB} text-neutral-black-700`}>
  <section class={`w-[350px] ${extraClass}`}>
    <div class="flex items-center gap-4">
      <div class=" w-18 h-0.5 bg-primary-brown-600"></div>
      <h2 class=" text-primary-brown-600 font-semibold text-sm tracking-widest">{sectionTitle}</h2>
    </div>
    <h3 class={`font-secondary text-4xl leading-12 mt-6 ${classMB} text-neutral-black-900`}>{sectionSubtitle}</h3>
    <slot/>
  </section>
</div>